body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(../Images/backimg.jpg);
    background-size: cover;
}
.container{
    max-width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0px 30px 30px 30px;
    height: 100vh;
}
.container img {
    max-width: 100%;
}
.textbox{
    background-color: rgba(64, 58, 58, 0.911);
    color: #f4f4ff;
    border-radius: 20px;
    padding: 30px;
    width: 70%;
    height: auto;
    margin-bottom: 5%;
    text-align: center;
}
@media only screen and (min-width: 1200px)
{
}