body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(../Images/backimg.jpg);
    background-size: cover;
}
.container{
    display: grid;
    grid-template-areas:
      '. . .'
      '. img .'
      '. textbox .';
    grid-gap: 10px;
    padding: 10px;
    max-width: 100%;
    margin: auto;
    height: 100vh;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 5% 70% 25%;
}
figure{
    max-width: 100%;
    grid-area: img;
}
figure img{
    width: 100%;
    border: 3px solid yellow;
}
.textbox{
    background-color: rgba(64, 58, 58, 0.911);
    color: #f4f4ff;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    grid-area: textbox;
    
}
marquee{
    font-size: 20px;
    text-align: center;
    line-height: 150%;
    width: 60%;
}
button{
    margin-top: 1%;
    padding: 10px;
    border-radius: 60%;
    width: 80px;
    background-color: yellow;
    color: black;
    font-weight: bold;
    border: 3px solid black;
}
